# **THEORY QUESTIONS **

1)What are data structures, and why are they important?

>> Data structures are organized ways of storing and managing data so that it can be used efficiently. They are important because they help in optimizing the performance of programs, making it easier to access, modify, and process data according to specific requirements.

2. Explain the difference between mutable and immutable data types with examples.

>> Mutable data types can be changed after they are created. For example, lists,sets,dictionary,etc in Python allow you to add, remove, or update elements.

>> Immutable data types cannot be changed once they are created. For example, strings and tuples in Python remain fixed; if you try to change them, a new object is created instead.

3. What are the main differences between lists and tuples in Python?

>> Lists are mutable, meaning their elements can be changed, added, or removed.

>> Tuples are immutable, meaning their elements cannot be altered after creation.

Because of immutability, tuples are generally faster and are often used to represent fixed collections of data.

4. Describe how dictionaries store data.

>> Dictionaries in Python store data in the form of key–value pairs. Each value is accessed using its unique key instead of an index. Internally, dictionaries use a hash table to store these pairs, which allows for fast data retrieval.

5. Why might you use a set instead of a list in Python?

>> A set is useful when you need to store unique values only and do not care about maintaining order. Unlike lists, sets automatically remove duplicate entries, which makes them efficient for tasks like membership testing or eliminating repeated values.

6. What is a string in Python, and how is it different from a list?

>> A string is a sequence of characters enclosed in quotes. Unlike lists, which can hold different types of elements and can be modified, strings are immutable—they cannot be changed once created.

7. How do tuples ensure data integrity in Python?

>> Since tuples are immutable, their values cannot be altered after creation. This immutability ensures that the data remains consistent and protected from accidental changes, making tuples suitable for storing fixed or constant information.

8. What is a hash table, and how does it relate to dictionaries in Python?

>> A hash table is a data structure that maps keys to values using a hash function. In Python, dictionaries are built on top of hash tables, which is why they can retrieve, insert, or delete elements in constant average time.

9. Can lists contain different data types in Python?

>> Yes, lists in Python can hold elements of different data types, such as integers, strings, floats, or even other lists, all within the same list.

10. Explain why strings are immutable in Python.

>> Strings are immutable because once they are created, their memory location cannot be modified. This design choice makes strings more secure and efficient, especially when used as keys in dictionaries or in multi-threaded operations.

11. What advantages do dictionaries offer over lists for certain tasks?

>> Dictionaries allow data retrieval through keys instead of indexes, making them faster when searching for specific values. They are especially useful when dealing with labeled or structured data, such as storing student records with roll numbers as keys.

12. Describe a scenario where using a tuple would be preferable over a list.

>> If you are storing fixed data, such as the coordinates of a point (x, y) or days of the week, a tuple is preferable because it guarantees that the data cannot be changed accidentally.

13. How do sets handle duplicate values in Python?

>> Sets automatically eliminate duplicate values. For example, if you try to add the same element multiple times, it will only appear once in the set.

14. How does the “in” keyword work differently for lists and dictionaries?

>> For lists, the in keyword checks whether a specific element exists in the list.

For dictionaries, the in keyword checks whether a given key is present, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.

>> No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case.

>> A nested dictionary is a dictionary inside another dictionary. It is often used to represent hierarchical data.
Example:

students = { "101": {"name": "Amit", "age": 20},
    "102": {"name": "Riya", "age": 22}}


Here, each student ID maps to another dictionary containing details of the student.

17. Describe the time complexity of accessing elements in a dictionary.

>> Accessing an element in a dictionary has an average-case time complexity of O(1), meaning it is very fast regardless of the dictionary size, thanks to the underlying hash table implementation.

18. In what situations are lists preferred over dictionaries?

>> Lists are preferred when the order of elements matters or when you only need to store data without requiring unique keys. For example, storing a sequence of daily temperatures is more suitable for a list than a dictionary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

>> Dictionaries are considered unordered because they do not store elements in a fixed sequence; instead, they are arranged based on their hash values. As a result, you cannot rely on the position of elements, but you can always access values directly through their keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

>> In a list, data is retrieved using numeric indexes that represent the position of elements.

In a dictionary, data is retrieved using unique keys, making access faster and more meaningful when working with labeled data.

# **PRACTICAL QUESTIONS**

1.Write a code to create a string with your name and print it

In [ ]:
A="MAHI"

In [ ]:
print(A)

MAHI

2. Write a code to find the length of the string "Hello World"

In [ ]:
x="hello world"

In [ ]:
len(x)

11

 3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
b="Phyton Programming"

In [ ]:
b[0:3]

'Phy'

4. Write a code to convert the string "hello" to uppercase

In [ ]:
m="hello"

In [ ]:
m.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
x="i like apple"

In [ ]:
x["apple"]="orange"

TypeError: 'str' object does not support item assignment

6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
num=[1,2,3,4]

In [ ]:
num.append(10)

In [ ]:
num

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list=[1, 2, 3, 4, 5]

In [ ]:
my_list.remove(3)

In [ ]:
my_list

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
a=['a', 'b', 'c', 'd']

In [ ]:
a[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
x=[10, 20, 30, 40, 50]

In [ ]:
x[::-1]

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
a=( 100, 200, 300)

In [ ]:
a

(100, 200, 300)

In [ ]:
type(a)

tuple

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
d=('red', 'green', 'blue', 'yellow')

In [ ]:
d

('red', 'green', 'blue', 'yellow')

In [ ]:
d[1:4]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
b=(10, 20, 5, 15)

In [ ]:
b

(10, 20, 5, 15)

In [ ]:
min(b)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals=('dog', 'cat', 'rabbit')

In [ ]:
animals

('dog', 'cat', 'rabbit')

In [ ]:
animals.index("cat")

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits=("mango","litchi","kiwi")

In [ ]:
fruits

('mango', 'litchi', 'kiwi')

In [ ]:
"kiwi" in fruits

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
s={'a', 'b', 'c' }

In [ ]:
s

{'a', 'b', 'c'}

In [ ]:
type(s)

set

17.write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
d={1, 2, 3, 4, 5}

In [ ]:
d.clear()

In [ ]:
d

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
y={1, 2, 3, 4}

In [ ]:
y

{1, 2, 3, 4}

In [ ]:
y.remove(4)

In [ ]:
y

{1, 2, 3}

 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
x={1, 2, 3}

In [ ]:
y={3, 4, 5}

In [ ]:
x

{1, 2, 3}

In [ ]:
y

{3, 4, 5}

In [ ]:
x|y

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
a={1, 2, 3}

In [ ]:
a

{1, 2, 3}

In [ ]:
b={2, 3, 4}

In [ ]:
b

{2, 3, 4}

In [ ]:
a&b

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [1]:
my_dict={"name":"xyz", "age":"25",  "city":"Delhi"}

In [2]:
my_dict

{'name': 'xyz', 'age': '25', 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [3]:
z={'name': 'John', 'age': 25}

In [4]:
z

{'name': 'John', 'age': 25}

In [8]:
z["country"]= "USA"

In [9]:
z

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [10]:
x={'name': 'Alice', 'age': 30}

In [11]:
x

{'name': 'Alice', 'age': 30}

In [13]:
x["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [14]:
a={'name': 'Bob', 'age': 22, 'city': 'New York'}

In [15]:
a

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [18]:
a.pop("age")

22

In [19]:
a

{'name': 'Bob', 'city': 'New York'}


25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [20]:
m={'name': 'Alice', 'city': 'Paris'}

In [21]:
m

{'name': 'Alice', 'city': 'Paris'}

In [22]:
"city" in m

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [23]:
# create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 22, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 22, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [24]:
x=[23,56,98,1,34]

In [25]:
x

[23, 56, 98, 1, 34]

In [26]:
x.sort()

In [27]:
x

[1, 23, 34, 56, 98]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]

In [29]:
fruits

['apple', 'banana', 'cherry', 'mango', 'orange']

In [30]:
fruits[3]

'mango'

29. Write a code to combine two dictionaries into one and print the result.

In [31]:
m={'name': 'Alice', 'city': 'Paris'}

In [32]:
m

{'name': 'Alice', 'city': 'Paris'}

In [41]:
n={"phone number":123,"age":23}

In [43]:
n

{'phone number': 123, 'age': 23}

In [45]:
m.update(n)

In [46]:
m

{'name': 'Alice',
 'city': 'Paris',
 'phone number': 123,
 'DOB': -1997,
 'age': 23}

30. Write a code to convert a list of strings into a set.

In [47]:
x=["xyz","abc","mno","pqr"]

In [48]:
x

['xyz', 'abc', 'mno', 'pqr']

In [49]:
my_set=set(x)

In [50]:
my_set

{'abc', 'mno', 'pqr', 'xyz'}